.error_msg {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 10%;
    color: #ffffff;
}

body {
    background-color: #131313;
}
