.main_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 60px;
}

.section_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
}
